.user-info-card-popover {
    .ant-popover-inner-content {
        max-width: 320px;
        padding: 0;
    }

    .ant-popover-inner {
        border-radius: 20px;
        padding: 16px 12px !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .ant-card-body {
        padding: 0 !important;

        .card-container {
            position: relative;
            overflow: hidden
        }

        .card-background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            border-radius: 8px
        }

        .card-content {
            padding: 1.25rem;
            border-radius: .375rem;
            margin-top: 2.7rem;
            position: relative;
            width: 270px;
            background-color: #fff
        }

        .avatar-container {
            position: absolute;
            display: inline-block;
            top: -1.25rem;
            left: 1.25rem
        }

        .user-info-header {
            display: flex;
            justify-content: space-between;
            align-items: center
        }

        .user-name {
            margin-bottom: 0
        }

        .action-buttons {
            position: absolute;
            top: 8px;
            right: 16px
        }

        .description-text {
            margin: 8px 0;
            color: #8c8c8c
        }

        .rank-label {
            font-size: 12px;
            color: #8c8c8c
        }

        .rank-value {
            font-size: 16px;
            font-weight: 700
        }

        .user-info-avatar-container {
            position: relative;
            margin-right: 2rem
        }

        .avatar-background {
            position: absolute;
            border-radius: 50%;
            background: linear-gradient(to top right, rgba(255, 167, 38, .8), rgba(251, 140, 0, .45));
            width: 108%;
            height: 108%
        }

        .user-avatar {
            position: relative;
            z-index: 1
        }

        .vip-icon {
            position: absolute;
            bottom: -2px;
            right: -6px;
            z-index: 1
        }

        .user-title-bar {
            .user-name {
                color: rgba(0, 0, 0, .85);
                font-size: 16px;
                line-height: 24px
            }
        }
    }

    .user-info-card {
        width: 320px;
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
        border-radius: 12px;

        .ant-card {
            border-radius: 12px !important
        }
    }
}