.global-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background: #efefef; */
    padding: 16px;
    text-align: center;
    /* position: fixed;
    border-top: 1px solid #e8e8e8;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #FFF;
    padding: 10px 0;
    margin-top: 10px; */
}