.user-setting-profile {

    .ant-form-item-label {
        margin-right: 8px;

        label::after {
            content: ''
        }
    }

    .title {
        margin-top: 12px;
        color: var(--code-font-1);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }

    .description {
        color: var(--code-font-3);
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        margin-top: 8px;
    }
}