.add-post-published-page {
    margin-top: 20px;

    .share-content {
        min-height: 725px;
        margin-left: 80px;
        margin-right: 80px;
        padding: 40px 20px 0;
        background-color: var(--code-layer-1);
        margin-bottom: 16px;
        text-align: center;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        .common-empty {
            user-select: none;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .img-empty-wrap {
                display: flex;
                justify-content: center;
                margin-bottom: 8px;

                .img-empty {
                    display: block;
                    width: 180px;
                    height: 180px;
                    background-size: cover;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-image: url(https://p1-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/8732fd6a30cd4808827abe39ea22e90f~tplv-k3u1fbpfcp-jj:0:0:0:0:q75.avis);
                }
            }

            .content-slot-wrap {
                font-size: 16px;
                font-weight: 400;
                color: var(--code-font-3);

                .jj-link {
                    line-height: 24px;
                    color: var(--code-font-1);
                    font-size: 16px;
                    text-align: center;
                    display: block;
                }

                .thanks {
                    text-align: center;
                    font-size: 14px;
                    line-height: 22px;
                    margin-top: 8px;
                    color: #4e5969;
                }

                .rule-link {
                    line-height: 20px;
                    font-weight: 400;
                    margin-top: 4px;
                    display: inline-block;
                    color: var(--code-font-3);
                    font-size: 12px;
                    height: 20px;
                }
            }

            .button-link {
                margin-top: 40px;
                background: var(--code-brand-fill1-normal);
                border: 1px solid var(--code-brand-stroke1-normal);
                border-radius: 4px;
                padding: 0 20px;
                height: 40px;
                font-size: 16px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--code-font-brand1-normal);
            }
        }

        .bottom-banner {
            position: relative;
            width: 656px;
            margin: 70px auto 0;

            .banner-image {
                width: 100%;
                height: 193px;
            }

            .btn-close {
                position: absolute;
                top: 57px;
                right: 4px;
                width: 20px;
                height: 20px;
                background-color: transparent;
            }
        }
    }
}