#tag-page {
    .tag-info-box {
        position: relative;
        height: 150px;
        background-color: #f8f9fa;
        border-bottom: 1px solid #f1f1f1;

        .tag-info {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #666;
            padding: 4rem 0;
            box-sizing: border-box;

            .title {
                font-size: 25px;
                line-height: 30px;
                font-weight: 700;
                margin-bottom: .3rem;
            }

            .tag-meta {
                font-size: 12px;
            }
        }
    }

    .list-header {
        margin: 20px auto;

        .nav-list {
            display: flex;
            align-items: center;

            li {
                color: var(--code-font-3);
                font-size: 16px;
                margin-left: 16px;
                cursor: pointer;
                list-style: none;

                &:hover {
                    color: #007fff;
                }
            }

            .active {
                color: #007fff;
            }
        }
    }

    .ant-list-items {
        background: var(--code-font-white-disable);

        .ant-list-item {
            padding: 10px 18px;

            &:hover {
                background: var(--code-gray-3);
                transition: background-color 0.3s;
            }

            .ant-list-item-meta {
                margin-block-end: 4px;

                .ant-list-item-meta-title {
                    margin-block-end: 4px;
                }

                .ant-list-item-meta-description {
                    font-size: 13px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .ant-list-item-action {
                display: flex;
                margin-block-start: 4px;

                li {
                    font-size: 13px;
                    padding: 0 10px;

                    &:first-child {
                        padding-inline-start: 0;
                    }

                    &:last-child {
                        /* margin-left: auto; */
                        flex: 1;
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}