.user-center-detail-list-follow-tags {

    .ant-list-item {
        padding: 25px 0;
        align-items: normal;
        justify-content: normal;

        &:hover {
            background: var(--code-gray-3);
            transition: background-color 0.3s;
        }

        .ant-list-item-meta-content {
            height: 100%;
            display: flex;
            align-items: center !important;

            .ant-pro-list-row-title {
                font-size: 16px;
            }
        }

        .ant-list-item-action {
            display: flex;
            align-items: center;
        }
    }
}