* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* max-height: 100vh; */
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  word-break: break-word;
  background: #f2f3f5;
}

a:hover {
  color: #69b1ff;
}

.max-width-content {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 32px 16px; */
  /* padding: 0 16px; */
  width: 100vw;
}

.max-width-content-1 {
  max-width: 1140px;
  margin: 0 auto;
  /* padding: 32px 16px; */
  /* padding: 0 16px; */
  width: 100vw;
}

.flex {
  display: flex;
  width: 100%
}

.justify-between {
  justify-content: space-between
}

.justify-center {
  justify-content: center
}

.flex-center,
.item-center {
  align-items: center
}

.subscribe-btn {
  border: 1px solid #37c700 !important;
  background-color: #fff !important;
  color: #37c700 !important;

  &:hover {
    /* background-color: red !important; */
    color: #3cb40e !important;
    border-color: #3cb40e !important;
  }
}

.subscribe-btn.subscribed {
  background-color: #37c700 !important;
  color: #fff !important;

  &:hover {
    background-color: #3cb40e !important;
  }
}

.im-btn {
  border: 1px solid #b3d5ff !important;
  background-color: #f3f9ff !important;
  color: #1e80ff !important;

  &:hover {
    border: 1px solid rgba(30, 128, 255, 0.6) !important;
    background: rgba(30, 128, 255, 0.1) !important;
  }
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}