.user-center-detail-list-follow {
    .sub-header {
        flex-wrap: wrap;
        /* padding: 0 2.4rem; */
        /* height: 4rem; */
        padding-bottom: 10px;
        white-space: nowrap;
        border-bottom: 2px solid rgba(230, 230, 231, .5);

        .sub-header-title {
            font-weight: 600;
            color: var(--code-font-1);
        }

        .sub-type-box {
            margin-left: auto;

            .active {
                color: var(--code-font-1);
                /* color: var(--code-gray-0); */
            }

            a {
                position: relative;
                color: #72777b;

                &:hover {
                    opacity: .8;
                }

                &:not(:last-child):after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -1rem;
                    margin-top: -.5em;
                    width: 1px;
                    height: 1em;
                    background-color: #b2bac2;
                    opacity: .5;
                }

                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }
        }
    }
}