.notification-system {
    .ant-list-item {
        background: var(--code-layer-1);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
        margin-bottom: 8px;
        cursor: pointer;
        border-block-end: none;

        &:hover {
            background: var(--code-gray-3);
            transition: background-color 0.3s;
        }

        .title {
            width: 70%;
            font-size: 15px;
            font-weight: 400;
            color: var(--code-font-1);
            word-break: break-all;
        }
    }
}