.user-card-section {

    .stat {
        margin-bottom: 8px;
        color: #8a919f;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;

        .count {
            color: #252933;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }
    }

    .ant-card-meta-description {
        white-space: nowrap;
    }
}