@keyframes shrink {
    from {
        width: 117px;
    }

    to {
        width: 34px;
    }
}

.user-card-section {

    .stat {
        margin-bottom: 8px;
        color: var(--code-font-3);
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;

        a {
            color: var(--code-font-3);

            .count {
                color: var(--code-font-1);
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
            }

            &:hover,
            &:hover .count {
                color: var(--code-brand-1-normal);
            }

        }
    }

    .ant-card-meta-description {
        white-space: nowrap;
    }


    .operate-btn {
        display: flex;
        align-items: center;



        .byte-icon {
            width: 1em;
            height: 1em;
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            margin-right: 6px;
        }

        .show {
            display: block;
        }

        .follow-btn {
            width: 117px;
            height: 36px;
            border: 1px solid var(--code-brand-1-normal);
            background: var(--code-brand-1-normal);
            color: var(--code-font-white);
            transition: opacity 0.3s ease;
            transition: width .4s, background .2s, border .2s;
            transition-timing-function: cubic-bezier(.2, 1, .3, 1);

            &:hover {
                /* opacity: .8; */
                color: var(--code-font-white) !important;
                border-color: var(--code-brand-2-hover) !important;
                background-color: var(--code-brand-2-hover) !important;
            }

            &.active {
                color: var(--code-font-3);
                background-color: var(--code-gray-3);
                border: 1px solid var(--code-gray-1-1);
            }

            &.followed {
                border: 1px solid var(--code-gray-1-1);
                background: var(--code-layer-1);
                color: var(--code-font-3);

                &:hover {
                    border: 1px solid var(--code-gray-1-1) !important;
                    background: var(--code-layer-1) !important;
                    color: var(--code-font-3) !important;
                    opacity: .8;
                }
            }
        }

        .im-btn {
            margin-left: 16px;
            flex: 1;
            width: 117px;
            height: 36px;
        }
    }


}